<app-navbar></app-navbar>

<h1 class="text-black lg:text-[1.8rem] text-[1.3rem] font-bold uppercase py-10 px-20">Endereço de entrega</h1>

<app-fluxo></app-fluxo>

<div class="flex flex-col justify-center items-center py-[6rem]">
    <form>
        <div class="relative z-0 w-full mb-6 group">
            <input type="number" id="cep" name="cep" class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="cep" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Digite o seu CEP</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" id="rua" name="rua" disabled class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="rua" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rua</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" id="numero" name="numero" disabled class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="numero" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" id="complemento" name="complemento" disabled class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="complemento" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Complemento</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" id="cidade" name="cidade" disabled class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="cidade" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cidade</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" id="estado" name="estado" disabled class="block py-2.5 px-0 w-[25rem] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#fb6f92] appearance-none focus:outline-none peer" placeholder=" "/>
            <label for="estado" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#fb6f92] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Estado</label>
        </div>
    </form>
    <button (click)="openCloseModal()" type="button" class="text-white bg-[#fb6f92] hover:bg-[#fb6f92db] font-medium text-sm px-[2rem] py-2.5 text-center uppercase mt-10">Finalizar compra</button>
</div>

<app-footer></app-footer>

<!-- Modal -->

<div id="modal" class="relative z-10 visivel" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-black lg:text-[1.5rem] text-[1.3rem] font-bold uppercase" id="modal-title">Compra realizada com sucesso!</h3>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button (click)="openCloseModal()" type="button" class="text-white bg-[#fb6f92] hover:bg-[#fb6f92db] font-medium text-sm px-[2rem] py-2.5 text-center uppercase">ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
