<app-navbar></app-navbar>
<div class="my-[5rem] mx-[20rem] p-[3rem] border-[2px] border-[#fb6f92]">
    <div class="flex gap-10">
        <img src="assets/buque2.jpg" alt="Imagem buquê" class="w-[17rem]">
        <div>
            <h1 class="text-black text-[3rem] font-bold uppercase ">Buquê rosas</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta, laudantium explicabo error maxime earum excepturi fugit libero saepe porro nemo! Inventore facilis dicta odit modi neque cum beatae veritatis!</p>
            <p>R$25,00</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
