<app-navbar></app-navbar>

<h1 class="text-black lg:text-[1.8rem] text-[1.3rem] font-bold uppercase py-10 px-20">Carrinho</h1>

<app-fluxo></app-fluxo>

<section>
    <p class="text-black lg:text-[1rem] text-[1.3rem] font-bold uppercase px-[38.4rem]">Produtos</p>
    
    <div>
        <div class="flex justify-center gap-10 py-4 ">
            <img src="assets/buque2.jpg" alt="Imagem buquê" class="w-[10rem]">
            <div class="max-w-[30rem] flex flex-col gap-4 border-b border-[#fb6f92]">
                <h1 class="text-black lg:text-[1.2rem] text-[1.3rem] font-bold uppercase">Buquê de rosas</h1>
                <p class="text-black lg:text-[0.8rem] text-[1.3rem] font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quia quas illo maiores dolor aspernatur neque possimus, itaque temporibus non quam natus sapiente totam commodi praesentium similique accusantium quidem?</p>
                <p class="text-black lg:text-[1rem] text-[1.3rem] font-light">R$25,00</p>
            </div>
        </div>
    
        <div class="flex justify-center gap-10 py-4">
            <img src="assets/buque2.jpg" alt="Imagem buquê" class="w-[10rem]">
            <div class="max-w-[30rem] flex flex-col gap-4 border-b border-[#fb6f92]">
                <h1 class="text-black lg:text-[1.2rem] text-[1.3rem] font-bold uppercase">Buquê de rosas</h1>
                <p class="text-black lg:text-[0.8rem] text-[1.3rem] font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quia quas illo maiores dolor aspernatur neque possimus, itaque temporibus non quam natus sapiente totam commodi praesentium similique accusantium quidem?</p>
                <p class="text-black lg:text-[1rem] text-[1.3rem] font-light">R$25,00</p>
            </div>
        </div>
    
        <div class="flex justify-center gap-10 py-4">
            <img src="assets/buque2.jpg" alt="Imagem buquê" class="w-[10rem]">
            <div class="max-w-[30rem] flex flex-col gap-4 border-b border-[#fb6f92]">
                <h1 class="text-black lg:text-[1.2rem] text-[1.3rem] font-bold uppercase">Buquê de rosas</h1>
                <p class="text-black lg:text-[0.8rem] text-[1.3rem] font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quia quas illo maiores dolor aspernatur neque possimus, itaque temporibus non quam natus sapiente totam commodi praesentium similique accusantium quidem?</p>
                <p class="text-black lg:text-[1rem] text-[1.3rem] font-light">R$25,00</p>
            </div>
        </div>
    </div>

    
    <h1 class="text-black lg:text-[1.8rem] text-[1.3rem] font-bold uppercase py-5 px-[38.4rem]">Total: R$75,00</h1>
    
    <button [routerLink]="['/endereco']" type="button" class="text-white bg-[#fb6f92] hover:bg-[#fb6f92db] font-medium text-sm px-[2rem] mx-[38.4rem] mb-[4rem] py-2.5 text-center uppercase">Confirmar</button>
    
</section>
<app-footer></app-footer>