<app-navbar></app-navbar>
<img src="assets/image_rosas.jpg" alt="Imagem de rosas" class="w-full">
<div class="absolute top-[5.5rem] sm:top-[10rem] lg:top-[10rem] 2xl:top-[20rem] left-5 lg:left-[5rem] xl:left-[7rem] sm:left-[5rem] max-w-[20rem] xl:max-w-[60rem] lg:max-w-[40rem] sm:max-w-[30rem] text-left">
    <h1 class="text-[1.5rem] md:text-[2.8rem] lg:text-[3.5rem] 2xl:text-[4.5rem] text-black font-bold uppercase mb-1 lg:mb-5">Lorem ipsum dolor</h1>
    <p class="text-[0.8rem] md:text-[1rem] lg:text-[1.5rem] 2xl:text-[1.5rem] text-black font-light mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
    <button type="button" class="text-white bg-[#fb6f92] hover:bg-[#fb6f92db] font-medium text-sm px-[2rem] py-2.5 text-center uppercase">Lorem</button>
</div>
<section class="max-w-[80rem] mx-auto 2xl:py-[10rem] xl:py-[10rem] lg:py-[10rem] md:py-[10rem] sm:py-[5rem] py-[5rem] px-10">
    <div class="flex flex-col items-center gap-10 lg:flex-row lg:gap-24">
        <img src="assets/buque.jpg" alt="Imagem buque" class="w-[35rem]">
        <div class="max-w-[30rem]">
            <h1 class="text-black lg:text-[1.8rem] text-[1.3rem] font-bold uppercase mb-[1rem]">Lorem ipsum dolor</h1>
            <p class="text-black lg:text-[1rem] text-[0.8rem] font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi enim soluta voluptatem aspernatur. Vitae pariatur omnis aperiam laudantium non iste deleniti atque tempore, repudiandae et! Numquam quia deleniti nulla velit.</p>
        </div>
    </div>
</section>
<section id="produtos" class="flex flex-col justify-center items-center">
    <h1 class="text-black lg:text-[1.8rem] text-[1.3rem] font-bold uppercase mb-[1rem]">Produtos</h1>
    <div class="lg:px-24 lg:py-20 py-10">
        <ul class="flex lg:flex-row lg:gap-24 flex-col gap-10 justify-center items-center">
            <li>
                <img src="assets/buque2.jpg" alt="Imagem buquê" class="2xl:w-[20rem] 2xl:h-[25.23rem] xl:w-[20rem] xl:h-[25.23rem] lg:h-[15rem] lg:w-[20rem] md:h-[25rem] h-[20rem]">
                <h1 class="text-black text-[1rem] font-bold uppercase pt-[0.5rem]">Buquê de rosas</h1>
                <p class="text-black text-[1rem] font-light uppercase pt-[0.1rem] pb-[1rem]">R$25,00</p>
                <button (click)="addItemCarrinho()" type="button" class="text-[#fb6f92] hover:text-white border border-[#fb6f92] hover:bg-[#fb6f92] font-bold text-sm px-[1rem] py-2.5 text-center">Comprar</button>
            </li>
            <li>
                <img src="assets/buque6.png" alt="Imagem buquê" class="2xl:w-[20rem] xl:w-[20rem] xl:h-[25.23rem] md:h-[20rem] lg:h-[15rem] lg:w-[20rem] h-[18rem]">
                <h1 class="text-black text-[1rem] font-bold uppercase pt-[0.5rem]">Buquê de rosas</h1>
                <p class="text-black text-[1rem] font-light uppercase pt-[0.1rem] pb-[1rem]">R$25,00</p>
                <button (click)="addItemCarrinho()" type="button" class="text-[#fb6f92] hover:text-white border border-[#fb6f92] hover:bg-[#fb6f92] font-bold text-sm px-[1rem] py-2.5 text-center">Comprar</button>
            </li>
            <li>
                <img src="assets/buque3.png" alt="Imagem buquê" class="2xl:w-[20rem] 2xl:h-[25.23rem] xl:w-[20rem] xl:h-[25.23rem] lg:h-[15rem] lg:w-[20rem] md:h-[25rem] h-[20rem]">
                <h1 class="text-black text-[1rem] font-bold uppercase pt-[0.5rem]">Buquê de rosas</h1>
                <p class="text-black text-[1rem] font-light uppercase pt-[0.1rem] pb-[1rem]">R$25,00</p>
                <button (click)="addItemCarrinho()" type="button" class="text-[#fb6f92] hover:text-white border border-[#fb6f92] hover:bg-[#fb6f92] font-bold text-sm px-[1rem] py-2.5 text-center">Comprar</button>
            </li>
            <li>
                <img src="assets/buque5.png" alt="Imagem buquê" class="2xl:w-[20rem] 2xl:h-[25.23rem] xl:w-[20rem] xl:h-[25.23rem] lg:h-[15rem] lg:w-[20rem] md:h-[25rem] h-[20rem]">
                <h1 class="text-black text-[1rem] font-bold uppercase pt-[0.5rem]">Buquê de rosas</h1>
                <p class="text-black text-[1rem] font-light uppercase pt-[0.1rem] pb-[1rem]">R$25,00</p>
                <button (click)="addItemCarrinho()" type="button" class="text-[#fb6f92] hover:text-white border border-[#fb6f92] hover:bg-[#fb6f92] font-bold text-sm px-[1rem] py-2.5 text-center">Comprar</button>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>